<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Picoballoon 2021</title>
    <script src="https://api.mapy.cz/loader.js"></script>
    <script type="text/javascript">Loader.lang = "en"; Loader.load()</script>
</head>

<body>
    <h1> Picoballoon 2021 </h1>
    <br><br>
        <div id="mapa" style="width:600px; height:400px;"></div>
        <script type="text/javascript">
            // default map
            var center = SMap.Coords.fromWGS84(16.606837, 49.195060);
            var map = new SMap(JAK.gel("mapa"), center, 10);
            map.addDefaultLayer(SMap.DEF_BASE).enable();
            map.addDefaultControls();

            // add new layer for markers
            var layer = new SMap.Layer.Marker();
            map.addLayer(layer);
            layer.enable();

            // card to marker
            var card = new SMap.Card();
            card.setSize(210, 160);     // width, height
            card.getHeader().innerHTML =  "<strong> {{ time }} </strong>";
            card.getBody().innerHTML = "{{ card_body }}";

            // marker
            pos = SMap.Coords.fromWGS84({{ lon }}, {{ lat }});
            var marker = new SMap.Marker(pos, "{{ marker_id }}", {});
            marker.decorate(SMap.Marker.Feature.Card, card);
            layer.addMarker(marker);

            // card_header, card_body, marker_pos, marker_name
        </script>
        <br><br>
        <!-- image of probe    -->
        <img src="{{ url_for('static', filename='probe.jpg') }}", style="width:600px; height:400px;">
</body>
</html>


